<%- include('./partials/header')%> <%- include('./partials/navbar')%>

<div class="container mt-3">
  <%- include('./partials/flash')%>
  <h3 class="display-5">ERROR! You're Lost. When Lost, Try Logging In</h3>
</div>

<%- include('./partials/footer')%>
